<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eric Miller</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="javascript software developer Eric Miller austin texas software engineer"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/loaders.css/loaders.min.css"/>-->
    <script>document.documentElement.className = 'js'</script>
    {{{_sections.head}}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101888891-1"></script>
    <script>
        window.dataLayer = window.dataLayer || []
        function gtag () {dataLayer.push(arguments)}

        gtag('js', new Date())

        gtag('config', 'UA-101888891-1')
    </script>

</head>
<body class="loading">
<div id="particles-js">
</div>
<div class="navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-left">
            <a class="logo text-muted" href="/">
                <span class="fart">e</span><span>m&period;io</span>
            </a>
        </div>
        <div class="freelancer-status pull-right">
            <p><span class="available"></span>Hire me</p>
        </div>
    </div>
</div>
<section id="body">
    {{{body}}}
</section>
{{#if elasticNav}}
    <footer class="navbar navbar-bottom  footer text-center">
{{else}}
    <footer class="navbar navbar-fixed-bottom  footer text-center">
{{/if}}
    <div class="row">
        <div class="col-md-12 text-center">
            <a title="Email Me" href="mailto:epmiller8464@gmail.com" class="btn btn-link btn-lg">
                <span class="glyphicon glyphicon-envelope"></span><br/>Email
            </a>
            <a class="btn btn-link btn-lg" href="/voicemail">
                <span class="fa fa-microphone"></span><br/>Web Mail
            </a>

            <a href="tel:+1{{phone_number}}" id="sms-link" class="btn btn-link">
                <span class="glyphicon glyphicon-phone"></span><br/>{{phone_number}}
            </a>
            <a href="/mebot" class="btn btn-link">
                <span class="fs-1x25">🤖</span><br/>Chat with MeBot
            </a>
        </div>
    </div>

</footer>

</body>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/moment/min/moment-with-locales.js"></script>
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="/moment/min/moment.min.js"></script>
<script src="/javascripts/typed.min.js"></script>
<script src="/javascripts/particles.js"></script>
<script src="/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script src="/browser-detect/dist/browser-detect.js"></script>

{{{_sections.scripts}}}
</html>
