{{#section 'head'}}
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/obnoxious.css"/>-->
    <script src="/recordrtc/RecordRTC.min.js"></script>
    <script src="/socket.io-client/dist/socket.io.slim.js"></script>
{{/section}}
<section id="alert-row" class="row hide">
    <div class="col-md-12">
        <div class="alert alert-danger text-center fs-3x" role="alert" style="font-size:0.80em;">
            <b>This site is built with WebRTC, for the full experience it's recommended to use a desktop version of
                Chrome, Firefox, Opera or IE Edge!
            </b>
        </div>
    </div>
</section>
<section id="touch" class="content content--bg content--bg-mic content--nopadding">
    <div class="content content--bg content-bg-overlay overlay-dark">
        <div class="content__inner flexy flexy--center">
            <h2 class="title br br-o">Web Voice Mail</h2>
            <p class="voice-message-text fs-2_5x">
            </p>
        </div>
        <div class="interaction interaction--corner interaction--light">
            <a id="go-to-record" data-scroll href="#record-section" class="link-more">
                <span class="fa fa-microphone fs-2x"></span><br>Leave A Message
            </a>
        </div>
    </div>
</section>
<section id="record-section" class="content content--bg content--bg-recorder content--nopadding row">
    <div id="wavebg" class="content content--bg content-bg-overlay overlay-dark">
        <div class="content__inner content__inner--fheight flexy flexy--center recording-section">
            <!--<h2 class="content__title br text-muted">Web Voice Mail</h2>-->
            <div class="col-md-8">
                <h2 class="text-muted">Start Recording</h2>
                <span class="input-group-lg">
            <span class="input-lg">

                <input class="form-control" type="email" autocomplete="off" name="email" pattern="/.+\@.+\..+/"
                       placeholder="Enter a valid email" style="background: transparent;"/>
            </span>
                            <button type="button" class="btn btn-link next pull-right hide">Next</button>

        </span>
            </div>
            <div class="clearfix">
                <button id="show-record-btn" type="button" class="btn btn-link fs-3x text-muted" disabled>
                    <span class="fa fa-microphone" aria-hidden="true"></span><br/>
                    <!--<small>Start Recording</small>-->
                </button>
            </div>
            <div id="record-container" class="col-md-12 hide">
                <div class="audio-controls">
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="live-audio-canvas" class="center-block"></canvas>
                            <img id="snapshot" class="center-block">
                            <div class="col-md-12">
                                <label class="status on clearfix">The mic is hot.....</label>
                                <label class="time-remaining pull-right"></label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" role="group" aria-label="...">
                        <button id="record-btn" type="button" class="btn btn-link btn-lg">
                            <span class="fa fa-microphone" aria-hidden="true"></span> Record
                        </button>
                        <button id="stop-recording-btn" type="button" class="btn btn-link btn-lg">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
                        </button>
                        <button id="play-btn" type="button" class="btn btn-link btn-lg">
                            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> replay
                        </button>
                        <button id="upload-btn" type="button" class="btn btn-link btn-lg" data-toggle="tooltip"
                                data-placement="right" title="Recording save automatically but you can delete yours">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save Recording
                        </button>
                    </div>
                </div>
                <span>
                    <audio id="camera-preview" controls class="hide"
                           style="border: 1px solid rgb(15, 158, 238); width: 94%;"></audio>
                <span style="display:none;">
                    <progress id="progress-bar" value="0" max="100"></progress>
                    <br/>
                    </span>
                <span>
            </span>
            </span>
                <span class="input-group-lg step-2">
        </span>
            </div>
        </div>
        <div class="interaction interaction--corner interaction--light">
            <a id="go-to-record" data-scroll href="#recorded-section" class="link-more text-muted">
                <span class="glyphicon glyphicon-menu-down fs-2x"></span><br>Previous Recordings
            </a>
        </div>
    </div>
</section>
<section class="container content">
    <section id="recorded-section" class="row">
        <h2 class="text-center">Previous Recordings</h2>
        <hr/>
        {{#each images}}
            <div class="col-md-6">

                <div class="thumbnail audio-control" id="acid_{{@index}}" data-audio-src="{{this.audio_path}}"
                     data-recording-key="{{this.key}}"
                     data-wave-form="{{this.waveForm}}"
                     data-wave-form-container="wf_{{@index}}">
                    <img src="{{this.image}}" alt="Some image"/>
                    <div id="wf_{{@index}}" style="overflow: hidden;" class="wave-form">
                    </div>
                    <div class="caption">
                        <p>
                            <button type="button" class="play btn btn-link" disabled>
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="pause btn btn-link" disabled>
                                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="stop btn btn-link" disabled>
                                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="delete btn btn-link btn-lg pull-right" data-toggle="tooltip"
                                    data-placement="right"
                                    title="Recording save automatically but you can delete yours">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                    <div class="row" style="padding: 0 10px 5px 10px !important;margin: 0;">
                        <div class="col-md-12 col-sm-12 text-success">
                            <label class="status pull-left">&nbsp;</label>
                            <label class="duration pull-right">&nbsp;</label>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </section>
    <div id="top-scroll" class="">
        <a href="#" class="btn btn-link pull-right" data-scroll>
            <span class="glyphicon glyphicon-menu-up animated" aria-hidden="true"></span><br/><b>Top</b>
        </a>
    </div>
</section>




{{#section 'scripts'}}

    <script src="/lodash/lodash.min.js"></script>
    <script src="/javascripts/EventEmitter.js"></script>
    <script src="/d3/build/d3.min.js"></script>
    <!--<script src="/browser-detect/dist/browser-detect.js"></script>-->
    <script src="/howler/dist/howler.min.js"></script>
    <script src="/siriwavejs/siriwave.js"></script>
    <script src="/javascripts/Audio-Bundle.js"></script>
    <script src="/javascripts/AudioComponent.js"></script>
    <script src="/javascripts/app.bundle.js"></script>
    <script src="javascripts/mo.min.js"></script>
    <script>
        App.voicemail({delay: 1500})
    </script>


{{/section}}