{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css"/>
    <script src="/recordrtc/RecordRTC.min.js"></script>
    <script src="/socket.io-client/dist/socket.io.slim.js"></script>
{{/section}}
<section class="container content">
    <div class="voice-message-container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="voice-message-text">
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right ">
                <button id="unmute-btn" type="button" class="btn btn-link">
                    <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> Unmute
                </button>
                <button id="replay-btn" type="button" class="btn btn-link">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Replay
                </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-record-btn" type="button" class="btn btn-link btn-lg fs-2x ">
                <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Record Me A Message
            </button>
        </div>
        <div id="record-container" class="col-md-12 hide">
        <span class="input-group-lg">
            <span class="input-lg">
                <label>Enter a valid email</label>
                <input class="form-control" type="email" autocomplete="off" name="email"
                       placeholder="e.g. tom@gmail.com" style="background: transparent;"/>
            </span>
        </span>
            <div class="audio-controls hide">
                <div class="col-md-12">
                    <canvas id="live-audio-canvas" class=""></canvas>
                    <img id="snapshot">
                    <label class="status on">The mic is hot.....</label>
                    <label class="time-remaining pull-right"></label>

                </div>
                <div class="text-center" role="group" aria-label="...">
                    <button id="record-btn" type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Record
                    </button>
                    <button id="stop-recording-btn" type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
                    </button>
                    <button id="play-btn" type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> replay
                    </button>
                    <button id="delete-upload-btn" type="button" class="btn btn-link btn-lg" data-toggle="tooltip"
                            data-placement="right" title="Recording save automatically but you can delete yours">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Delete Recording
                    </button>

                </div>
            </div>
            <span>
                    <audio id="camera-preview" controls class="hide"
                           style="border: 1px solid rgb(15, 158, 238); width: 94%;"></audio>
                <span style="display:none;">

                    <progress id="progress-bar" value="0" max="100"></progress>
                    <br/>
                    </span>
                <span>

            </span>
            </span>

            <span class="input-group-lg step-2">
        </span>
            <button type="button" class="btn btn-link next pull-right ">Next</button>
            <!--<button type="button" class="btn btn-link pull-right" id="snap">Capture Image</button>-->
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">Previous Recordings</h2>
        <hr/>
        {{#each images}}
            <div class="col-md-6">

                <div class="thumbnail audio-control" id="acid_{{@index}}" data-audio-src="{{this.audio_path}}"
                     data-recording-key="{{this.key}}"
                     data-wave-form="{{this.waveForm}}">
                    <img src="{{this.image}}" alt="Some image"/>
                    <div id="wf_{{@index}}" style="overflow: hidden;" class="wave-form"
                         data-wave-form="{{this.waveForm}}">
                    </div>
                    <div class="caption">
                        <p>
                            <button type="button" class="play btn btn-link" disabled>
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="pause btn btn-link" disabled>
                                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="stop btn btn-link" disabled>
                                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="delete btn btn-link btn-lg pull-right" data-toggle="tooltip"
                                    data-placement="right"
                                    title="Recording save automatically but you can delete yours">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                    <div class="row" style="padding: 0 10px 5px 10px !important;margin: 0;">
                        <div class="col-md-12 col-sm-12 text-success">
                            <label class="status pull-left">&nbsp;</label>
                            <label class="duration pull-right">&nbsp;</label>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>




{{#section 'scripts'}}

    <script src="/lodash/lodash.min.js"></script>
    <script src="/javascripts/EventEmitter.js"></script>
    <script src="/d3/build/d3.min.js"></script>
    <script src="/howler/dist/howler.min.js"></script>
    <script src="/javascripts/Audio-Bundle.js"></script>
    <script src="/javascripts/AudioComponent.js"></script>

    <script>
        var stats = {
            step: 1
        }
        var ci
        var pos2 = 50
        function progress (elementId) {
            var pos = $($('#' + elementId).children('svg')[0]).data('wave-form-length')
            var position = $($('#' + elementId).children('svg')[0]).position().left
            ci = setInterval(function () {
                        $($('#' + elementId).children('svg')[0]).css('left', pos2 + '%')
                        pos2 -= 0.25
                        if ((pos2 % 1) === 0) {
                            pos--
                        }
                        $($('#' + elementId).children('svg')[0]).children('rect')
                        .each(function (a, b) {
                            if ($(b).position().left <= position) {
                                $(b).attr('fill', 'rgba(255,255,255,0.2)')
                            }
                        })
                    },
                    250)

        }

        function buildWaveFormTimeSeries (elementId, waveForm) {
            $('#' + elementId).css(['overflow', 'hidden', 'position', 'relative'])
            var h = 100, w = $('#' + elementId).width(), p = 2

            var svg = d3.select(document.getElementById(elementId))
            .append('svg')
            .attr('width', w)
            .attr('height', h)
            .style('moz-transform', 'rotate(180deg)')
            .style('webkit-transform', 'rotate(180deg)')
            .style('transform', 'rotate(180deg)')
            //            .attr('-moz-transform', 'rotate(0)')
            .attr('data-wave-form-length', waveForm.length)
            .style('position', 'relative')
            .style('left', '50%')
            .style('overflow', 'hidden')

//            .attr('left', '50%')

            svg.selectAll('rect')
            .data(waveForm.map(function (i, d) {if (d > 100) {return d - 100} else {return d}}))
            .enter()
            .append('rect')
            .attr('x', function (d, i) {return i * (w / waveForm.length)})
            .attr('y', 0)
            .attr('width', (w / waveForm.length - (p)))
            //            .attr('width', waveForm.length / 100 * 2)
            .attr('height', function (d) {
                console.log(arguments)
                return ((waveForm[d] / 3))
            })
            .attr('fill', 'rgba(33,33,33,0.5)')
            .attr('data-index', function (d, i) {return i})

        }
        function init () {
            showTypedVoiceMailMessage()

            var voices = $('div[data-audio-src]').map(function (i, el) {
                return {
                    el: '#' + $(el).prop('id'),
                    recordingKey: $(el).data('recording-key'),
                    waveform: [$(el).data('wave-form').split(',')],
                    controls: {
                        $play: $(el).find('button.play')[0],
                        $pause: $(el).find('button.pause')[0],
                        $stop: $(el).find('button.stop')[0],
                        $delete: $(el).find('button.delete')[0],
                        $status: $(el).find('.status')[0],
                        $duration: $(el).find('.duration')[0]
                    },
                    howl: {
                        src: [$(el).data('audio-src')],
                        autoplay: false,
                        preload: false,
                        loop: false,
                        volume: 0.5
                    }
                }
            }).toArray()
            console.log('audio components: %s', voices.length)
            console.log(voices)
            for (var i = 0; i < voices.length; i++) {
                var config = voices[i]
                var audio = new AudioComponent(config)
                audioComponents.push(audio)
            }
            //todo: clear laoding dialoge
//                progress($(target).data('target-id'))
        }
        var audioComponents = []

        $(document).ready(function () {
            init()

            $('[name=email]').keypress(function () {
                if (new RegExp(/.+\@.+\..+/).test($(this).val())) {
                    $('.btn.next').removeClass('hide')

                } else {
                    hideAudioControls()
                }
            })
            $('[name=email]').focusout(function () {
                if (new RegExp(/.+\@.+\..+/).test($(this).val())) {
                    $('.btn.next').removeClass('hide')
//                    incrementStep()
                } else {
                    hideAudioControls()
                }

            })

            $('.next').click(function () {
                //1. hide the previous step
                //2. enable client side socket.io code
                showAudioControls()
            })

            $('#show-record-btn').click(function () {
                $('#record-container').toggleClass('hide')
            })

        })

        function showAudioControls () {
            $('.audio-controls').removeClass('hide')
            initAudio()
        }
        function hideAudioControls () {
            $('.audio-controls').addClass('hide')
        }

        function showTypedVoiceMailMessage () {
            $('.voice-message-text').typed({
                strings: ['Hello, you have reached the voice mail of Eric Miller. Please leave your name, number and a short message and i will get back to you as soon as possible. <br/> Thanks!'],
                typeSpeed: 0,
                html: true,
                showCursor: false,
                startDelay: 0,
                callback: function () {
                    $('#show-record-btn').removeClass('hide')
                }
            })
        }

    </script>


{{/section}}